<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Movie DB Manager</title>
</head>
<body>
    <h1>Import a Movieto the DB</h1>
    <form action="{{ url_for('add_movie') }}" method="POST">
        <div>
            <input type="text" name="title", placeholder="Enter a movie title" />
            <input type="text" name="year", placeholder="Enter release year of movie" />
            <input type="text" name="rating", placeholder="Enter movie rating" />
            <input type="text" name="genre", placeholder="Enter movie genre" />
            <input type="text" name="starring", placeholder="Who is the star of this film?" />
            <input type="submit" value="Send Text" />
        </div>
    </form>
</body>
</html>